In [1]:
import pandas as pd
import math
import scipy

import datetime
from datetime import date

import corefunctions as co

import fxmodule as fx
from fxmodule import FXClass

import curvemodule610 as cm
from curvemodule610 import CurveClass

# import varmodule
# from varmodule import var_ir_var_maps

import fxfwdmordule640 as im

# Loading Termsheets

In [2]:
# use !pwd to print the current working directory

In [3]:
# read the termsheets excel file and store the values under the name xls
xls = pd.ExcelFile('/Users/stephxtchan/ECO421/a3/termsheets.xlsx')

# create a list that stores the FX forward sheets names
inst_file = ['CADGBP FX Fwd', 'CADUSD FX Fwd', 'USDEUR FX Fwd', 'EURCAD FX Fwd', 'GBPEUR FX Fwd']

In [4]:
# Export all FX forward sheets
sh_df_1= pd.read_excel(xls, sheet_name = inst_file[0])
sh_df_2= pd.read_excel(xls, sheet_name=inst_file[1])
sh_df_3= pd.read_excel(xls, sheet_name=inst_file[2])
sh_df_4= pd.read_excel(xls, sheet_name=inst_file[3])
sh_df_5= pd.read_excel(xls, sheet_name=inst_file[4])

In [5]:
sh_df_1.head()

       FX Forward      Attribute Unnamed: 2
0            Name  CADGBP FX Fwd        NaN
1       POS Units              1        NaN
2   Contract Size              1        NaN
3            Type      FXForward        NaN
4  Effective Date              0        NaN

In [6]:
sh_df_2.head()

       FX Forward      Attribute Unnamed: 2
0            Name  CADUSD FX Fwd        NaN
1       POS Units              1        NaN
2   Contract Size              1        NaN
3            Type      FXForward        NaN
4  Effective Date              0        NaN

In [7]:
sh_df_3.head()

       FX Forward      Attribute Unnamed: 2
0            Name  USDEUR FX Fwd        NaN
1       POS Units              1        NaN
2   Contract Size              1        NaN
3            Type      FXForward        NaN
4  Effective Date              0        NaN

In [8]:
sh_df_4.head()

       FX Forward      Attribute Unnamed: 2
0            Name  EURCAD FX Fwd        NaN
1       POS Units              1        NaN
2   Contract Size              1        NaN
3            Type      FXForward        NaN
4  Effective Date              0        NaN

In [9]:
sh_df_5.head()

       FX Forward      Attribute Unnamed: 2
0            Name  GBPEUR FX Fwd        NaN
1       POS Units              1        NaN
2   Contract Size              1        NaN
3            Type      FXForward        NaN
4  Effective Date              0        NaN

# Input Position (Choose the FX Fwd Spreadsheet)

In [11]:
# print the names of the FX Fwd Spreadsheet
print(inst_file)

['CADGBP FX Fwd', 'CADUSD FX Fwd', 'USDEUR FX Fwd', 'EURCAD FX Fwd', 'GBPEUR FX Fwd']

In [18]:
# Create a user input for the position wanted
pos = int(input('please input the index of wanted position listed above (in inst_file) '))

# If put 0, you are looking at CADGBP FX Fwd
# If put 1, you are looking at CADUSD FX Fwd
# If put 2, you are looking at USDEUR FX Fwd
# If put 3, you are looking at EURCAD FX Fwd
# If put 4, you are looking at GBPEUR FX Fwd

please input the index of wanted position listed above (in inst_file) 1

# Export Corresponding FX Fwd Theo Value and FX VaR map

In [19]:
if pos in range(0,5): # There are only 5 spreadsheet
    rnx = im.FXFwdClass(inst_file[pos], xls)
    v = rnx.theo_value()
    # Print out the Theo_value
    print(f'FX Fwd: {inst_file[pos]} Theo/Value under Base scenario = {v}')
    
    scen_df=pd.read_excel(xls, sheet_name='Scenario')
    # scen_df=pd.read_csv('./csv/MCScenario1.csv')
    dt=1
    k=5
    v = rnx.theo_value_scen(dt, scen_df, k)
    # Print out the Theo_value under scenario
    print(f'FX Fwd: {inst_file[pos]} Theo/Value under scenario {k} = {v}')
    
    vcv_file='SubVCV3'
    vcv_df= pd.read_excel(xls, sheet_name=vcv_file)
    
    fx_maps={}
    fx_maps=rnx.var_map_calculation()
    # Print out the corresponding FX VaR Map
    print(f'FX Fwd: {inst_file[pos]} VaR Maps = {fx_maps}')

else:
    print('Input spreadsheet does not exist')

FX Fwd: CADUSD FX Fwd Theo/Value under Base scenario = 0.34308280173247785
in fx fwd class: fm_curr=USD, to_curr=CAD
FX Fwd: CADUSD FX Fwd Theo/Value under scenario 5 = 0.3435327656231352
FX Fwd: CADUSD FX Fwd VaR Maps = 1.0218630416204193